html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Rockwell Nova";
  font-style: normal;
  font-weight: normal;
  src: local("Rockwell Nova"), url("../font/RockwellNova.woff") format("woff");
}
@font-face {
  font-family: "Rockwell Nova Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Rockwell Nova Extra Bold"), url("../font/RockwellNova-ExtraBold.woff") format("woff");
}
header .container nav ul input::-webkit-input-placeholder {
  color: #222;
  font-family: "Rockwell Nova", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .container nav ul input::-moz-placeholder {
  color: #222;
  font-family: "Rockwell Nova", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .container nav ul input:-ms-input-placeholder {
  color: #222;
  font-family: "Rockwell Nova", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .container nav ul input::-ms-input-placeholder {
  color: #222;
  font-family: "Rockwell Nova", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .container nav ul input::placeholder, header .container nav ul li a {
  color: #222;
  font-family: "Rockwell Nova", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header .container .logo h2 {
  color: #222;
  font-family: "Rockwell Nova Extra Bold", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

header {
  border: 2px solid red;
  padding: 30px;
}
header .container {
  max-width: 1250px;
  width: 95%;
  margin: 0 auto;
}
header .container .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .logo h2 {
  width: 230px;
}
header .container nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .container nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
header .container nav ul li a {
  font-size: 20px;
  color: #2935a7;
}
header .container nav ul .input_div {
  position: relative;
}
header .container nav ul input {
  padding: 10px 15px;
  outline: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  border: 1px solid #a7a7a7;
}
header .container nav ul input::-webkit-input-placeholder {
  color: #646464;
  font-size: 15px;
}
header .container nav ul input::-moz-placeholder {
  color: #646464;
  font-size: 15px;
}
header .container nav ul input:-ms-input-placeholder {
  color: #646464;
  font-size: 15px;
}
header .container nav ul input::-ms-input-placeholder {
  color: #646464;
  font-size: 15px;
}
header .container nav ul input::placeholder {
  color: #646464;
  font-size: 15px;
}
header .container nav ul i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
}/*# sourceMappingURL=global.css.map */