html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 220px;
}

@font-face {
  font-family: "Rockwell Nova";
  font-style: normal;
  font-weight: normal;
  src: local("Rockwell Nova"), url("../font/RockwellNova.woff") format("woff");
}
@font-face {
  font-family: "Rockwell Nova Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Rockwell Nova Extra Bold"), url("../font/RockwellNova-ExtraBold.woff") format("woff");
}
.h-1 .container nav ul input::-webkit-input-placeholder {
  color: #222;
  font-family: "Rockwell Nova", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.h-1 .container nav ul input::-moz-placeholder {
  color: #222;
  font-family: "Rockwell Nova", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.h-1 .container nav ul input:-ms-input-placeholder {
  color: #222;
  font-family: "Rockwell Nova", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.h-1 .container nav ul input::-ms-input-placeholder {
  color: #222;
  font-family: "Rockwell Nova", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.m-1 .s-5 .container .wrapper .btn-div button, .m-1 .s-5 .container .wrapper .flex-container .flex-child p, .m-1 .s-4 .container .wrapper .btn-div button, .m-1 .s-4 .container .wrapper .flex-container .flex-child h3, .m-1 .s-3 .container .wrapper .btn-div button, .m-1 .s-3 .container .wrapper .flex-container .flex-child h3, .m-1 .s-2 .container .wrapper .flex-container .flex-child h3, .m-1 .s-1 .container .wrapper .text-div1 h5, .h-1 .container nav ul input::placeholder, .h-1 .container nav ul li a {
  color: #222;
  font-family: "Rockwell Nova", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.f-1 .container .flex-container .flex-child h2, .f-1 .container .flex-container .flex-child ul li a, .m-1 .s-5 .container .wrapper .flex-container .flex-child h2, .m-1 .s-5 .container .wrapper h2, .m-1 .s-4 .container .wrapper .flex-container .flex-child .discount, .m-1 .s-4 .container .wrapper .flex-container .flex-child h2, .m-1 .s-4 .container .wrapper h2, .m-1 .s-3 .container .wrapper .flex-container .flex-child h2, .m-1 .s-3 .container .wrapper h2, .m-1 .s-2 .container .wrapper h2, .m-1 .s-1 .container .wrapper .text-div1 h1, .h-1 .container .logo h2 {
  color: #222;
  font-family: "Rockwell Nova Extra Bold", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.f-1 .container, .m-1 .s-5 .container, .m-1 .s-4 .container, .m-1 .s-3 .container, .m-1 .s-2 .container, .m-1 .s-1 .container, .h-1 .container {
  max-width: 1250px;
  width: 95%;
  margin: 0 auto;
}

.m-1 .s-5 .container .wrapper .flex-container .flex-child img, .m-1 .s-4 .container .wrapper .flex-container .flex-child img, .m-1 .s-3 .container .wrapper .flex-container .flex-child img, .m-1 .s-1 .container .wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 0;
  max-width: 100%;
}

.h-1 {
  padding: 30px 20px;
  background-color: #fff;
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 0;
}
@media (max-width: 370px) {
  .h-1 {
    padding: 30px 10px;
  }
}
.h-1 .container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
@media (max-width: 910px) {
  .h-1 .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}
.h-1 .container .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin-bottom: 10px;
}
.h-1 .container .logo h2 {
  width: 230px;
}
@media (max-width: 430px) {
  .h-1 .container .logo h2 {
    font-size: 20px;
  }
}
@media (max-width: 910px) {
  .h-1 .container nav {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .h-1 .container nav.active {
    display: block;
    height: 190px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}
.h-1 .container nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  gap: 30px;
}
@media (max-width: 910px) {
  .h-1 .container nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    gap: 10px;
  }
}
.h-1 .container nav ul li a {
  font-size: 20px;
  color: #2935a7;
}
.h-1 .container nav ul li a:hover {
  font-weight: bolder;
}
@media (max-width: 910px) {
  .h-1 .container nav ul li {
    margin-bottom: 10px;
  }
}
.h-1 .container nav ul .input_div {
  position: relative;
}
.h-1 .container nav ul input {
  padding: 10px 35px 10px 15px;
  outline: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  border: 1px solid #a7a7a7;
}
.h-1 .container nav ul input::-webkit-input-placeholder {
  color: #646464;
  font-size: 15px;
}
.h-1 .container nav ul input::-moz-placeholder {
  color: #646464;
  font-size: 15px;
}
.h-1 .container nav ul input:-ms-input-placeholder {
  color: #646464;
  font-size: 15px;
}
.h-1 .container nav ul input::-ms-input-placeholder {
  color: #646464;
  font-size: 15px;
}
.h-1 .container nav ul input::placeholder {
  color: #646464;
  font-size: 15px;
}
.h-1 .container nav ul i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
}
.h-1 .container .burger-bar {
  position: absolute;
  top: 8px;
  right: 0;
  display: none;
}
@media (max-width: 910px) {
  .h-1 .container .burger-bar {
    display: block;
  }
}

.m-1 .s-1 {
  margin: 190px 0 60px 0;
}
.m-1 .s-1 .container .wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
@media (max-width: 1260px) {
  .m-1 .s-1 .container .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}
@media (max-width: 1260px) {
  .m-1 .s-1 .container .wrapper .text-div1 {
    position: absolute;
  }
}
.m-1 .s-1 .container .wrapper .text-div1 h1 {
  font-size: 48px;
  text-align: center;
}
@media (max-width: 1260px) {
  .m-1 .s-1 .container .wrapper .text-div1 h1 {
    color: #fff;
    font-size: 20px;
  }
}
.m-1 .s-1 .container .wrapper .text-div1 h5 {
  text-align: center;
  font-size: 22px;
}
@media (max-width: 1260px) {
  .m-1 .s-1 .container .wrapper .text-div1 h5 {
    color: #fff;
    font-size: 16px;
  }
}
.m-1 .s-2 {
  margin-bottom: 60px;
}
.m-1 .s-2 .container .wrapper h2 {
  font-size: 40px;
  margin-bottom: 50px;
}
.m-1 .s-2 .container .wrapper .flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media (max-width: 1250px) {
  .m-1 .s-2 .container .wrapper .flex-container .flex-child {
    width: 50%;
    text-align: center;
  }
}
.m-1 .s-2 .container .wrapper .flex-container .flex-child img {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 0;
  max-width: 100%;
}
.m-1 .s-2 .container .wrapper .flex-container .flex-child h3 {
  margin-top: 7px;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 1250px) {
  .m-1 .s-2 .container .wrapper .flex-container .flex-child h3 {
    margin-bottom: 15px;
  }
}
.m-1 .s-3 {
  margin-bottom: 60px;
}
.m-1 .s-3 .container .wrapper h2 {
  margin-bottom: 25px;
  font-size: 40px;
}
.m-1 .s-3 .container .wrapper .flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.m-1 .s-3 .container .wrapper .flex-container .flex-child {
  margin-top: 25px;
}
@media (max-width: 1250px) {
  .m-1 .s-3 .container .wrapper .flex-container .flex-child {
    width: 50%;
    text-align: center;
  }
}
.m-1 .s-3 .container .wrapper .flex-container .flex-child h3 {
  font-size: 13px;
}
.m-1 .s-3 .container .wrapper .flex-container .flex-child h2 {
  font-size: 17px;
}
.m-1 .s-3 .container .wrapper .btn-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin-top: 25px;
}
.m-1 .s-3 .container .wrapper .btn-div button {
  color: #fff;
  font-size: 10px;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  background-color: #2935a7;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.m-1 .s-3 .container .wrapper .btn-div button:hover {
  background-color: #fff;
  color: #2935a7;
}
.m-1 .s-4 {
  margin-bottom: 60px;
}
.m-1 .s-4 .container .wrapper h2 {
  font-size: 40px;
  margin-bottom: 50px;
}
.m-1 .s-4 .container .wrapper .flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media (max-width: 1250px) {
  .m-1 .s-4 .container .wrapper .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    gap: 20px;
  }
}
.m-1 .s-4 .container .wrapper .flex-container .flex-child {
  position: relative;
}
.m-1 .s-4 .container .wrapper .flex-container .flex-child h3 {
  font-size: 13px;
}
.m-1 .s-4 .container .wrapper .flex-container .flex-child h2 {
  font-size: 17px;
}
.m-1 .s-4 .container .wrapper .flex-container .flex-child .discount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  font-size: 15px;
  background-color: #eef9fd;
  width: 64px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 20px;
}
.m-1 .s-4 .container .wrapper .btn-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.m-1 .s-4 .container .wrapper .btn-div button {
  color: #fff;
  font-size: 10px;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  background-color: #2935a7;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.m-1 .s-4 .container .wrapper .btn-div button:hover {
  background-color: #fff;
  color: #2935a7;
}
.m-1 .s-5 {
  margin-bottom: 60px;
}
.m-1 .s-5 .container .wrapper h2 {
  font-size: 40px;
  margin-bottom: 50px;
}
.m-1 .s-5 .container .wrapper .flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media (max-width: 1285px) {
  .m-1 .s-5 .container .wrapper .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1285px) {
  .m-1 .s-5 .container .wrapper .flex-container .flex-child {
    margin-bottom: 20px;
  }
}
.m-1 .s-5 .container .wrapper .flex-container .flex-child h2 {
  font-size: 18px;
  margin: 10px 0;
}
.m-1 .s-5 .container .wrapper .flex-container .flex-child p {
  max-width: 480px;
  width: 100%;
  font-size: 15px;
}
.m-1 .s-5 .container .wrapper .btn-div {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.m-1 .s-5 .container .wrapper .btn-div button {
  color: #fff;
  font-size: 10px;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  background-color: #2935a7;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.m-1 .s-5 .container .wrapper .btn-div button:hover {
  background-color: #fff;
  color: #2935a7;
}

.f-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 250px;
  background-color: #a9aedc;
}
.f-1 .container .flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media (max-width: 828px) {
  .f-1 .container .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.f-1 .container .flex-container .flex-child ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (max-width: 585px) {
  .f-1 .container .flex-container .flex-child ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.f-1 .container .flex-container .flex-child ul li a {
  font-size: 22px;
}
.f-1 .container .flex-container .flex-child h2 {
  width: 230px;
}
.f-1 .container .flex-container .flex-child .socmedia-icons img {
  cursor: pointer;
  vertical-align: middle;
}
.f-1 .container .flex-container .flex-child .socmedia-icons i {
  font-size: 40px;
  vertical-align: middle;
}/*# sourceMappingURL=global.css.map */